* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #181818;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 800px;
  max-width: 90vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252525;
}

.textDisplay,
#text-input {
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  font-size: 1.5rem;
  word-spacing: 5px;
  letter-spacing: 1px;
}
#text-input {
  font-size: 1.3rem;
  resize: none;
  background-color: #414141;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
span.active {
  color: rgb(95, 129, 228);
  text-decoration: underline;
}
/*timer*/
.countdown {
  width: 100%;
  background-color: #252525;
  color: rgb(201, 201, 201);
  text-align: center;
  font-size: calc(1rem + 2vw);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* results  */
.result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background: #252525;
}
.result button {
  width: 100%;
  padding: 0.2rem;
  flex: 1;
  font-size: x-large;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.result button:hover {
  color: black;
  background-color: white;
}
.result h2 {
  flex: 2;
  font-size: xx-large;
}
.result p {
  flex: 3;
  font-size: large;
}
.wrongs {
  color: red;
}
.corrects {
  color: green;
}
