* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 800px;
  max-width: 90vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightgray;
}

.textDisplay,
#text-input {
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  font-size: 1.5rem;
  word-spacing: 5px;
  letter-spacing: 1px;
}
#text-input {
  font-size: 1.3rem;
  resize: none;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
span.active {
  color: rgb(207, 139, 255);
  text-decoration: underline;
}
/*timer*/
.countdown {
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
  font-size: calc(1rem + 2vw);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* results  */
.result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background: white;
}
.result button {
  width: 100%;
  padding: 0.2rem;
  flex: 1;
  font-size: x-large;
  border: none;
  border-left: 2px solid black;
}
.result h2 {
  flex: 2;
  font-size: xx-large;
}
.result p {
  flex: 3;
  font-size: large;
  background-color: white;
}
/* .result.active {
  opacity: 1;
  pointer-events: all;
} */
.wrongs {
  color: red;
}
.corrects {
  color: green;
}
